PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=2002
DB_NAME=disaster_alert_db

# allowed origins for cors
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:30001,https://your-frontend-domain.com
